<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em Contato</title>
</head>
<body>
    <h3>Fale comigo! ;)</h3>
     <!--Cabeçalho Do My Site-->
   <header style="display: flex;">
    <!--Aqui Começa meu logo-->
    <section>
      <img src="Perfil.jpg" alt="Foto de Perfil"height="200px">
    </section>
    <!--Navegação (menu)-->
    <nav>
      <br><br><br><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="MySite.html">Sobre Mim </a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="Music.html">Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="contato.html">Entre em contato</a>
    </nav>
  </header>
  <article>
    <form action="#">

        <fieldset>
        <strong><label for="Nome">Nome:</label></strong>
            <input type="text" name="Nome" id="Nome" size="50"><br><br><br><br>
        </fieldset><br><br>
        
     <fieldset>
    <strong> <label for="Email:">Email:</label></strong>
       <input type="email" name="Email" id="Email"><br><br><br><br>
</fieldset><br><br>

<fieldset>
<strong> <label for="WhatsApp">WhatsApp:</label></strong>
     <input type="tel" name="WhatsApp" id="WhatsApp" size="39"><br><br><br>
</fieldset><br><br>

<fieldset>
<strong><label for="Data de Nascimento">Data de Nascimento: </label></strong>
    <input type="date" name="Data de Nascimento" id="Data de Nascimento"><br><br><br><br>
</fieldset><br><br>

<fieldset>
    <p><strong>Deixe sua Mensagem:</strong></p>
    <textarea name="message" id="Mensagem" placeholder="Deixe aqui sua mensagem!" cols="30" rows="10"></textarea>
</fieldset><br><br>
<input type="submit" value="Enviar">
    </form>
  </article>
</body>
</html>