<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Lazeres</title>
</head>
<body>
    
   <!--Cabeçalho Do My Site-->
   <header style="display: flex;">
    <!--Aqui Começa meu logo-->
    <section>
      <img src="Perfil.jpg" alt="Foto de Perfil"height="200px">
    </section>
    <!--Navegação (menu)-->
    <nav>
      <br><br><br><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="MySite.html">Sobre Mim </a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="Music.html">Música</a>
    </nav>
  </header>

  <!--Conteúde de Entreterimento-->
  <!--exemplo de uso do <Article>-->
<article>
    <h3>Nanatsu no Taizai</h3>
    <h6>Nível 5/5</h6>

    <p>
        <img src="nanatsu-no-taizai-final.jpg" alt="Nanatsu no Taiazi e Personagens" width="100px" height="100px">
    </p>

    <p>
     É sobre 7 heróis, onde cada um tem  poderes <br>
     Referente as 7 pecados capitais <br>
     E eles lutam contra demônios que querem dominar o mundo.
    </p>

    <p>Leia mais sobre Nanatsu no Taizai: &nbsp; <a href="https://www.bing.com/ck/a?!&&p=25ee39ab5963e462JmltdHM9MTY5MjY2MjQwMCZpZ3VpZD0xZWQ4Y2VlMC0zYzBmLTY5YjItMTY0Zi1kZDk1M2QxYjY4ZjUmaW5zaWQ9NTI1Mg&ptn=3&hsh=3&fclid=1ed8cee0-3c0f-69b2-164f-dd953d1b68f5&psq=nanatsu+no+taizai&u=a1aHR0cHM6Ly9wdC53aWtpcGVkaWEub3JnL3dpa2kvTmFuYXRzdV9ub19UYWl6YWk&ntb=1">Leia +</a>
    </p>
<hr>
<h3>The Witcher</h3>
<h6>Nível 4/5</h6>

<p>
    <img src="Thewitcher.jfif" alt="Personagens Principais da Série" height="100px" width="100px">
</p>
<p>
 É uma Séria sobre um bruxo, que caça monstros,<br>
 Mas em uma de suas aventuras, sua vida tem <br>
 Uma grande reviravolta.
</p>

<p>Leia mais sobre The Witcher: &nbsp; <a href="https://www.bing.com/ck/a?!&&p=47533db2e7c77899JmltdHM9MTY5MjY2MjQwMCZpZ3VpZD0xZWQ4Y2VlMC0zYzBmLTY5YjItMTY0Zi1kZDk1M2QxYjY4ZjUmaW5zaWQ9NTIyOQ&ptn=3&hsh=3&fclid=1ed8cee0-3c0f-69b2-164f-dd953d1b68f5&psq=the+witcher&u=a1aHR0cHM6Ly93d3cubmV0ZmxpeC5jb20vYnIvdGl0bGUvODAxODk2ODU&ntb=1">Leia +</a></p>
<hr>
<h3>Euphoria</h3>

<h6>Nível 3/5</h6>

<p>
    <img src="Euphoria.jfif" alt="Personagem pricipal da série chorando" width="100px" height="100px">
</p>
<p>
    Uma séria sobre uma garota que tenta <br>
    Lidar com a abstinecia e dependencias de drogas. <br>
    E atrapalha suas relações de amizade, amorosa e familiar.
</p>

<p>Leia mais sobre Euphoria: &nbsp; <a href="https://www.bing.com/ck/a?!&&p=f5c21b1b656a9bcdJmltdHM9MTY5MjY2MjQwMCZpZ3VpZD0xZWQ4Y2VlMC0zYzBmLTY5YjItMTY0Zi1kZDk1M2QxYjY4ZjUmaW5zaWQ9NTIzMA&ptn=3&hsh=3&fclid=1ed8cee0-3c0f-69b2-164f-dd953d1b68f5&psq=euphoria&u=a1aHR0cHM6Ly93d3cuaW1kYi5jb20vdGl0bGUvdHQ4NzcyMjk2Lw&ntb=1">Leia +</a></p>
<hr>
<h3>Sense 8</h3>

<h6>Nível 2/5</h6>

<p>
<img src="Sense 8.jfif" alt="Todos os 8 personagens da série" width="100px" height="100px">
</p>
<p>
    Um Série onde os personagens são interligados por uma única <br>
    só concisencia e nisso eles tem o objetivo de salvar uns <br>
    aos outros.
</p>

<p>Leia mais sobre Sense 8: &nbsp; <a href="https://www.bing.com/ck/a?!&&p=4fe9ff8fd984c4c0JmltdHM9MTY5MjY2MjQwMCZpZ3VpZD0xZWQ4Y2VlMC0zYzBmLTY5YjItMTY0Zi1kZDk1M2QxYjY4ZjUmaW5zaWQ9NTIzMQ&ptn=3&hsh=3&fclid=1ed8cee0-3c0f-69b2-164f-dd953d1b68f5&psq=sense+8&u=a1aHR0cHM6Ly9wdC53aWtpcGVkaWEub3JnL3dpa2kvU2Vuc2U4&ntb=1">Leia +</a></p>
<hr>
<h3>Stranger Things</h3>

<h6>Nível 1/5</h6>

<p><img src="St.jfif" alt=" Todos os personagens da Série" width="100px" height="100px"></p>

<p>
    Uma série onde uma menina com poderes mentais <br>
    escapa do lugar onde ela era "estudada" e conhece <br>
    4 garotos que ajudam ela a salva-la, de um monstro que a persegue.
</p>

<p>Leia mais sobre Stranger Things: &nbsp; <a href="https://www.bing.com/ck/a?!&&p=7b86eccbc676ca33JmltdHM9MTY5MjY2MjQwMCZpZ3VpZD0xZWQ4Y2VlMC0zYzBmLTY5YjItMTY0Zi1kZDk1M2QxYjY4ZjUmaW5zaWQ9NTIyNw&ptn=3&hsh=3&fclid=1ed8cee0-3c0f-69b2-164f-dd953d1b68f5&psq=stranger+things&u=a1aHR0cHM6Ly93d3cubmV0ZmxpeC5jb20vcHQvdGl0bGUvODAwNTcyODE&ntb">Leia +</a>
    "></a></p>

</article>

<footer>
    By M'vini &copy;
</footer>

</body>
</html>