<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My PlayList</title>
</head>
<body>
     <!--Cabeçalho Do My Site-->
   <header style="display: flex;">
    <!--Aqui Começa meu logo-->
    <section>
      <img src="Perfil.jpg" alt="Foto de Perfil"height="200px">
    </section>
    <!--Navegação (menu)-->
    <nav>
      <br><br><br><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="MySite.html">Sobre Mim </a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="Music.html">Música</a>
    </nav>
  </header>

  <!--Seção para minha playlist-->
  <main>
    <h3>Top 10 das minhas músicas</h3>
    <ol reversed>
      <li>One Direction - Drag Me Down</li>
      <li>Beyonce - Sing Ladies</li>
      <li>Adele - Skyfall</li>
      <li>Billie Eilish - Bellyache</li>
      <li>Billie Eilish -  Bored</li>
      <li>Marilia Mendoça - Leão</li>
      <li>Billie Eilish - idontwannabetouanymore</li>
      <li>Sensations - Get you the moon</li>
      <li>James Arthur - Naked</li>
      <li> VMZ - A prova De Balas</li>
    </ol>
  </main>
  <footer>
    By M'vini&copy
  </footer>
</body>
</html>