<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
   <!--Cabeçalho Do My Site-->
    <header style="display: flex;">
      <!--Aqui Começa meu logo-->
      <section>
        <img src="Perfil.jpg" alt="Foto de Perfil"height="200px">
      </section>
      <!--Navegação (menu)-->
      <nav>
        <br><br><br><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="MySite.html">Sobre Mim </a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="Music.html">Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="contato.html">Entre em contato</a>
      </nav>
    </header>

    <!--Conteúdo Principal do MySite-->
    <Main>
        <h1>Wecome to my universe</h1>
        <p>
            Hi family, sou M'Vini <br>
            sou uma boa Pessoa, tenho 20 anos <br>
            Gosto de tecnologia, sair e me aventurar <br>
            <h3>Coisas sobre mim</h3>
            <ul>
                <li>Estudo pelo conehcimento</li>
                <li>Irmão de Pet</li>
                <ul>
                    <li>Mike</li>
                </ul>
                <li>Amo Livros:</li>
                <ul>
                    <li>Harry Potter</li>
                    <li>Lar das Crianças Peculiares</li>
                </ul>
                <li>Tenho como Praticar:</li>
                <ul>
                    <li>Estudar</li>
                    <li>Andar de bicicleta</li>
                    <li>Treinar</li>
                    <li>Dançar</li>
                
                </ul>
                <li>Amor comer</li>
                <li>Gosto de Sair</li>

            </ul>
        </p>
            

    </Main>
    <!--Rodapé-->
    <footer>
        By M'Vini &copy;
    </footer>
</body>
</html>